<%- include("partials/header.ejs") %>
<div class="container mt-5 w-50 border rounded shadow shadow-md p-5">
    <h2>Sign in</h2>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Don't have an account? <a href="/signup">Sign up here</a>.</p>
</div>

<%- include("partials/footer.ejs") %>