<%- include("partials/header.ejs") %>
    <div class="container mt-5 w-50 p-5 border rounded shadow shadow-md">
        <h2>Sign up</h2>
        <form action="" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <p class="mt-3 text-center">You have an account ? <a href="/signin">Sign in here</a>.</p>
    </div>
<%- include("partials/footer.ejs") %>